---
layout: default
title: Dress Code
---

<div class="list">

  <div class="highlight-anchors page-description">
    <p>An ongoing guide collection for various things that I hope will either contribute back to the world or at least myself in case I ever forget them.</p>
  </div>
  <ul class="post-list">
    {% for post in site.categories.dress-code %}
      <li>
        <span class="post-meta highlight"><code>&#xf073;</code>{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
