<footer class="site-footer">

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.title }}</h2>-->

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <!--<li>{{ site.title }}</li>-->
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="tel:804-539-2255">{{ site.phone }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}"
               target="_blank">
              <span class="highlight"><code>&#xf092;</code></span>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}"
               target="_blank">
              <span class="highlight"><code>&#xf081;</code></span>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.goodbye_message }}</p>
      </div>
    </div>

  </div>

</footer>

{% include script.html %}
