html {
  $cl-top: lighten($cl-tertiary-right, 15%);
  $cl-bottom: darken($cl-tertiary-left, 5%);
  @include linearGradient($cl-top, $cl-bottom);
  margin: 0;
  padding: 0;
}

body {
  background-color: $cl-main;
  margin: 2.25em 2em 2.5em;
  padding: 4em 0;
  box-shadow: 0 1px 3px $cl-text;
  @include linearGradient(rgba($cl-main, 0.98), rgba($cl-main, 0.99));
  @include media-query($on-laptop) {
    margin: 1.25em 1em 1.5em;
    padding: 4em 2em;
  }
  @include media-query($on-palm) {
    background-color: $cl-main;
    margin: 1em 0 2.5em;
    padding: 1em 0;
  }
}

/**
 * Site header
 */
.site-header {
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 2.153846154;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 0;
    float: left;

    @include media-query( 736px ) {
      font-size: 20px;
      line-height: 2;
      margin-top: 10px;
    }

    &,
    &:visited {
        color: $cl-tldr;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $cl-link;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $cl-main;
        border: 1px solid transparent;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            text-decoration: none;
            font-family: $ff-code;
            display: block;
            float: right;
            font-size: 1.25em !important;
            padding: 0.5em;
            line-height: 1;
            font-size: 1em;
            text-align: center;
            color: $cl-tertiary-left;

       }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover {
          border: 1px solid $cl-tertiary-left;
          border-radius: 5px;
        }
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $cl-tertiary-left;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 44px;
    margin: 0;
}

.page-description {
  font-weight: 700;
  font-size: 2em;
  color: #555;
  margin-bottom: $spacing-unit * 2;
  a {
    font-weight: 700;
  }
}

.cta-links {
  margin-bottom: $spacing-unit * 1.5;
}

.post-list {
    margin-left: 0;
    list-style: none;
    margin-bottom: 0;
    clear: both;
    &::before, &::after {
      content: '';
      display: table;
    }
    &:after {
      clear: both;
    }
    zoom: 1;
    > li {
        display: inline-block;
        width: 50%;
        min-height: 80px;
        float: left;

        @include media-query($on-laptop) {
          float: none;
          width: 80%;
          min-height: 90px;
        }

        @include media-query($on-palm) {
          float: none;
          width: 100%;
        }

        h2 {
            font-family: $ff-lato;
            font-weight: 300;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $cl-tertiary-left;
    font-family: $ff-merriweather;
    font-weight: 900;
    text-transform: uppercase;
}

.post-category {
    font-size: $small-font-size;
    color: $cl-tertiary-right;
    font-family: $ff-merriweather;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 0.5;
}

.post-link {
    font-family: $ff-lato;
    display: block;
    font-size: 28px;
    &,
    &:visited {
        color: $cl-link;
    }
}

.exp-list {
  @extend .post-list;
  li {
    float: none;
    width: 100%;
  }
}
.exp-name {
  @extend .post-meta;
  font-family: $ff-lato;
}
.exp-dates {
  @extend .post-meta;
  font-family: $ff-lato;
  text-transform: capitalize;
  $l-color: lighten(rgba($cl-tertiary-right, 0.5), 20%);
  $l-spacing: 0.15em;
  display: inline;
  background: $l-color;
  color: rgba($cl-tertiary-left, 0.95);
  padding: 0;
  padding-right: $l-spacing * 2.5;
  padding-bottom: $l-spacing * 1.75;
  position: relative;
  left: $l-spacing;
  box-shadow: $l-spacing 0 0 $l-color,
              ($l-spacing * -1) 0 0 $l-color;
}
.exp-title {}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
