---
layout: default
---
<div class="post">

  <header class="post-header">
    <p class="post-meta highlight"><code>&#xf073;</code>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <p class="post-category highlight"><code>&#xf02b;</code>{{ page.categories[ 0 ] | replace:'-',' ' }}</p>
  </header>

  <article class="post-content highlight-anchors">
    {{ content }}
  </article>

</div>
